pkgbase = obs-service-format_spec_file
	pkgdesc = An OBS source service: reformats a spec file to SUSE standard
	pkgver = 20240121.1.3
	pkgrel = 1
	url = https://github.com/openSUSE/obs-service-format_spec_file
	arch = any
	license = GPL2
	depends = obs-service-source_validator
	source = https://download.opensuse.org/source/tumbleweed/repo/oss/src/obs-service-format_spec_file-20240121-1.3.src.rpm
	sha256sums = 934c698740a17a0d1362100d1041ea6d69e4fa9543e9185bfc26b5b39767be38

pkgname = obs-service-format_spec_file
